<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtpv.ghmcenforcement"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--<uses-sdk android:targetSdkVersion="23" />-->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ghmc"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mtpv.ghmcenforcement.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="com.mtpv.ghmcepettycase.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.IP_settings"
            android:label="@string/title_activity_ip_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.GenerateCase"
            android:label="@string/title_activity_generate_case"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Previous_History"
            android:label="@string/title_activity_previous__history"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.DuplicatPrint"
            android:label="@string/title_activity_duplicat_print"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Reports"
            android:label="@string/title_activity_reports"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.PrintDisplay"
            android:label="@string/title_activity_print_display"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.WitnessForm"
            android:label="@string/title_activity_witness_form"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.SeizedItems"
            android:label="@string/title_activity_seized_items"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Sections"
            android:label="@string/title_activity_sections" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Preview"
            android:label="@string/title_activity_preview" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.OTP_input"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.DeviceListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Pet_count"
            android:label="@string/title_activity_pet_count"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.CaptureImages"
            android:label="@string/title_activity_capture_images" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.CaptureVideo"
            android:label="@string/title_activity_capture_video"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.DetainedItems"
            android:label="@string/title_activity_detained_items" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Splash"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name="com.mtpv.ghmcepettycase.Ph_printDisplay"
            android:label="@string/title_activity_ph_print" >
        </activity>

        <activity
            android:name="com.mtpv.ghmcepettycase.IPSettings_New"
            android:label="@string/title_activity_ph_print" >
        </activity>

    </application>

</manifest>
